.root {
    -fx-background-color: #121212;
    -fx-font-family: "JetBrains Mono", "Consolas", sans-serif;
}

.incomeBox {
    -fx-background-color: linear-gradient(to right, #00c6ff, #0072ff);
    -fx-background-radius: 15px;
    -fx-padding: 12px;
}

.expaenesBox {
    -fx-background-color: linear-gradient(to right, #ff416c, #ff4b2b);
    -fx-background-radius: 15px;
    -fx-padding: 12px;
}

.savedBOx {
    -fx-background-color: linear-gradient(to right, #f7971e, #ffd200);
    -fx-background-radius: 15px;
    -fx-padding: 12px;
}

.label-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.incomeValue, .expensesValue, .savedValue {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.incomeValue, .expensesValue {
    -fx-text-fill: #ffffff;
}

.savedValue {
    -fx-text-fill: #000000;
}

.label {
    -fx-text-fill: #eeeeee;
}

.date-picker {
    -fx-background-color: #292929;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #00C6A2;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, #00000088, 4, 0, 2, 2);
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #1DE9B6;
}

.chart {
    -fx-pie-label-visible: true;
    -fx-label-line-length: 2;
    -fx-start-angle: 30;
    -fx-legend-side: right;
    -fx-clockwise: true;
}

.chart-pie-label {
    -fx-font-size: 13px;
    -fx-fill: white;
}

.chart-content {
    -fx-padding: 2;
}

.chart-pie.data0 { -fx-pie-color: #00c6ff; } /* Income */
.chart-pie.data1 { -fx-pie-color: #ff4b2b; } /* Expenses */
.chart-pie.data2 { -fx-pie-color: #ffd200; } /* Saved */

.default-color0.chart-series-line { -fx-stroke: #00c6ff; }
.default-color1.chart-series-line { -fx-stroke: #ff4b2b; }
.default-color2.chart-series-line { -fx-stroke: #ffd200; }

.default-color0.chart-line-symbol { -fx-background-color: #00c6ff; }
.default-color1.chart-line-symbol { -fx-background-color: #ff4b2b; }
.default-color2.chart-line-symbol { -fx-background-color: #ffd200; }

.chart-legend {
    -fx-background-color: transparent;
    -fx-border-width: 2;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines,
.chart-horizontal-grid-lines {
    -fx-stroke: #444;
}

.axis {
    -fx-tick-label-fill: white;
    -fx-axis-line-visible: true;
    -fx-tick-mark-visible: true;
}

.axis-label {
    -fx-text-fill: white;
}

.needsBox {
    -fx-background-color: linear-gradient(to right, #4caf50, #388e3c); /* Green shades */
    -fx-background-radius: 15px;
    -fx-padding: 12px;
}

.wantsBox {
    -fx-background-color: linear-gradient(to right, #9c27b0, #7b1fa2); /* Purple shades */
    -fx-background-radius: 15px;
    -fx-padding: 12px;
}

.needValue, .wantValue {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}