.root {
    -fx-background-color: #1A1A1A;
    -fx-font-family: "JetBrains Mono", "Consolas", sans-serif;
}

/* Buttons */
.button {
    -fx-background-color: #2e7d32;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, #00000088, 4, 0, 2, 2);
    -fx-font-weight: bold;
}
.button:hover {
    -fx-background-color: #1b5e20;
}

