/* General Labels */
.label {
    -fx-text-fill: #F0F0F0;
}

.root {
    -fx-background-color: #121212;
    -fx-font-family: "JetBrains Mono", "Consolas", sans-serif;
}

/* Style for Expense label */
.ExpenceLable {
    -fx-text-fill: #ff6b6b;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

/* Style for Income label */
.incomeLable {
    -fx-text-fill: #4cd137;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

/* TableView */
.table-view {
    -fx-background-color: #1A1A1A;
    -fx-border-color: #2C2C2C;
    -fx-text-fill: #F0F0F0;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}
.table-view .column-header {
    -fx-background-color: #242424;
    -fx-text-fill: #00C6A2;
}
.table-view .cell {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 14px;
}
/* Refresh button hover effect */
#refreshButton {
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0, 0, 3);
}

#refreshButton:hover {
    -fx-background-color: #1DE9B6;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.refreshButton {
    -fx-background-color: #00C6A2;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0, 0, 3);
}

.refreshButton:hover {
    -fx-background-color: #00aaff;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

/* Scrollbars */
.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: #222;
}

/* Highlight selected table row in red */
.table-view .table-row-cell:selected {
    -fx-background-color: #ff4d4d; /* Red highlight */
    -fx-text-fill: white;
}

.date-picker {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #ffffff;
    -fx-border-color: #444;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 10 5 10;
    -fx-font-size: 14px;
}

.date-picker .arrow-button {
    -fx-background-color: #3a3a3a;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #555555;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #bbbbbb;
}